

.container {
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;

}

.red {
    background-color: red;
    flex-basis: 100px;
}

.orange {
    background-color: orange;
    flex-basis: 100px;
}

.yellow {
    background-color: yellow;
    flex-basis: 100px;
}

.green {
    background-color: green;
    flex-basis: 100px;
}

.blue {
    background-color: blue;
    flex-basis: 100px;
}

.indigo {
    background-color: indigo;
    flex-basis: 100px;
}

.violet {
    background-color: violet;
    flex-basis: 100px;
}
